.App {
  text-align: center;
}
.App-header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 10px;
  text-align: left;
}

.Logo {
  font-size: 25px;
  font-weight: bold;
}
.Uploads {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .Uploads {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
